body {
    background: url(../Image/background.jpg) ;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0 , 0, 0, 0.3);
    background-blend-mode: multiply;
    background-attachment: fixed;
}
.box {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
    
}
.box1 {
    background-image: url(../Image/2a.jpg);
    background-position: center bottom;
    background-size: cover;
}
.box2 {
    background-image: url(../Image/3a.jpg);
    background-position: center right;
    background-size: cover;
}
.box3 {
    background-image: url(../Image/4a.jpg);
    background-position: center top ;
    background-size: cover;
}
.box4 {
    background-image: url(../Image/5a.jpg);
    background-position: center left;
    background-size: cover;
}
.box5 {
    float: left;
    width: 500px;
    height: 300px;
    background-image: url(../Image/logo\ twitter.jpg);
    background-color: antiquewhite;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.box6 {
    width: 100vw;
    height: 50vh;
    background-image: url(../Image/nature\ image.webp);
    float: left;
    background-size: cover;
    background-position: center;
    overflow: scroll;
    background-attachment: local;
    /* background-attachment: fixed; */
    /* background-attachment: scroll; */
}
.data {
    clear: both;
    color: gray;
}