#inlinedemo span { 
    background-color: skyblue;
    width: 100px;
    height: 100px;
    margin: 50px;
    padding: 50px;
}
#inlineBlock span {
    display: inline-block;
    background-color: brown;
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 20px;
}
#display_none {
    display: none; 
}