.box {
    width: 100vw;
    height: 100vh;
    margin-bottom: 40px;
}

.box1 {
    background: linear-gradient(to right, red, green);
}

.box2 {
    background: linear-gradient(to top right, red, green);
}

.box3 {
    background: linear-gradient(to bottom right, rgba(255 0 0 /0.6), rgba(0 255 0 /0.5));
}

.box4 {
    background: linear-gradient(to right, red, green 50%, blue);
}

.box5 {
    background: linear-gradient(60deg, rgb(173, 237, 22), rgb(101, 9, 211));
}

#btn1 {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    font-size: 20px;
    color: white;
    position: relative;
    font-weight: bold;
    margin: 0 20px;
   
}

#btn1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2px dotted black;
    border-left: 2px dotted black;
    width: 0%;
    height: 0%;
    transition: all 2s;
    z-index: -1;

}

#btn1:hover::before {
    width: 101%;
    height: 102%;
    z-index: 1;

}

#btn1::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 2px dotted black;
    border-right: 2px dotted black;
    width: 0%;
    height: 0%;
    transition: all 2s;
    z-index: -1;
}

#btn1:hover::after {
    width: 101%;
    height: 102%;
    z-index: 1;
}

#btn2 {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    font-size: 20px;
    color: white;
    position: relative;
    transition: all 1s;
    font-weight: bold;
    z-index: 1;
}

#btn2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 1s;

}

#btn2:hover::before {
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
}
/* #btn4 {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    font-size: 20px;
    color: white;
    position:relative;
    transition: all 1s;
    font-weight: bold;
    z-index: 1;
}
#btn4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 1s;
}
#btn4:hover::before {
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
} */