* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;

}

.custom {
    display: flex;
    column-gap: 60px;
}

.firstbox {
    width: 50%;
    margin-top: 82px;
    flex-basis: 50%;

}

.firstbox h1 {
    font-size: 32.5px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid blue;
    margin: -5px 0 10px 0;;
    width: 50px;
}

.firstbox p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 22px;
}
.customimg {
    flex-basis: 50%;
}

.customimg img {
    margin: 40px 0 0 100px;
    max-width: 380px;
    height: 270px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-top: 60px;
    height: 220px;
}

.main .data {
    flex-basis: 375px;
    box-shadow: 0 0 4px 4px rgb(20 102 143 / 8%);
   
}

.main img {
    width: 55px;
    /* height: 60px; */
    margin: 12px 0 0 15px;
}
.main p{
    margin: 14px;
    color: gray;
    line-height: 25px;
    font-size: 16.58px;
}
.main h3{
    margin: 12px;
    font-size: 19px;
    color: black;
   
}
