* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid black;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px 20px;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

.logo {
    float: left;
}

.logo img {
    border: 2px solid black;
    width: 150px;
    height: 72px;
}

nav {
    border: 2px solid red;
    text-align: right;
    float: right;

}

nav ul li {

    list-style-type: none;
    margin: 10px;
    display: inline-block;
}

nav ul li a {

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 16px;
    text-decoration: none;
    display: inline-block;
    color: black;
}

@media screen and (max-width: 640px) {

    .logo,
    nav {
        width: 100%;
        text-align: center;
    }

    nav ul {
        text-align: center;
    }
}