* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container h2 {
    font-size: 40px;
}

.container p {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 25px;
}

.block p {}

.block {
    display: flex;
}

.box {
    gap: px;
    flex: 0 0 400px;
}

.box img {
    width: 85px;
}

.box h3 {
    font-size: 20px;
}

.box p {
    font-size: 18px;
    color: rgb(56, 54, 54);
    line-height: 30px;
}

hr {
    width: 90%;
    margin: 100px auto;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);

}

.work-detail {
    display: flex;
}

.work-img {
    flex-basis: 50%;
}

.work-img img {
    width: 500px;
}

.work-data {
    flex-basis: 50%;
    column-gap: 35px;
    padding: 15px;

}

.work-data p {
    font-size: 16px;
    color: rgb(40, 38, 38);
    line-height: 25px;
    margin-top: 15px;

}

.work-data h2 {
    margin: 0 0 28px 0;

}

.work-data h3 {
    font-size: 20px;
}

.work-data button {
    background-color: #D90082;
    padding: 12px 22px;
    border: none;
    color: aliceblue;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
}

.contect-page {
    display: flex;
}

.login-data {
    flex-basis: 50%;
}

.login-data h1 {
    font-size: 40px;
}

.login-data p {
    color: rgb(40, 38, 38);
    line-height: 28px;
    font-size: 20px;

}

.one {
    flex-basis: 50%;
}

.one img {
    width: 75px;
    margin: 17px 0 17px 0;
}

.one h3 {
    font-weight: bold;
    font-size: 20px;
}

.one p {
    margin: 15px 0 0 0;
    padding: 0 0 10px 0;
}

.boxs {
    display: flex;
    width: 100%;
    column-gap: 17px
}

.img-page {
    flex-basis: 50%;
}

.img-page img {
    width: 510px;
}

.safe {
    display: flex;
    column-gap: 100px;
}

.safe-page {
    flex-basis: 50%;

}

.safe img {
    width: 510px;


}

.data p {
    line-height: 28px;
    font-size: 19px;
}

.s-img p {
    margin-top: 10px;

}

.s-img {
    display: flex;
    column-gap: 30px;

}

.s-img img {
    width: 75px;
    margin-bottom: 28px;

}

.s-img h3 {
    font-size: 20px;
}

.imgs {
    flex-basis: 50%;

}

#waiting {
    margin: 100px 0;
}

.bluebox {
    background-color: #1f2836;
    height: 350px;
    width: 100%;
    color: aliceblue;
    padding: 100px;

}

.bluebox button {
    background-color: #D90082;
    padding: 12px 22px;
    border: none;
    color: aliceblue;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
}

.bluebox h3 {
    margin: 25px 0 25px 0;
    font-size: 22px;
}

.prodect-page h2 {
    font-size: 40px;
}

.prodect-page p {
    font-size: 24px;
    line-height: 30px;
    color: #3f3838;
}

.service {
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
    row-gap: 40px;
}

.design {
    margin: 10px 0;
}

.service h2 {
    font-size: 24px;
    line-height: 15px;
    margin-top: 22px;
}

.submit2 button {
    background-color: #D90082;
    padding: 12px 22px;
    border: none;
    color: aliceblue;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;

}

.submit2 {
    display: flex;
    justify-content: center;
    margin: 70px 0 70px 0;
}

.bluebox2 {
    background-color: #1f2836;
    height: 350px;
    width: 100%;
    color: aliceblue;
    padding: 50px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 20px;
}

.links a {
    font-size: 22px;
    color: aliceblue;
    line-height: 50px;
}

#blackbox {
    width: 100%;
    height: 600px;
    background-color: #161e2c;
    padding: 30px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;

}

.section1 img {
    width: 130px;
}

.section1 i {
    color: #fff;
}

.footer ul {
    list-style: none;
}

.ulclass {
    margin-top: 40px;
}

.footer ul h3,
a {
    font-size: 16px;
    color: aliceblue;
    margin-bottom: 20px;
    /* text-decoration: none; */
}

.footer ul a {
    font-size: 14px;
    color: rgb(173, 180, 186);
    text-decoration: none;
    line-height: 25px;
}

.ios {
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    padding: 8px;
    margin-bottom: 20px;
    width: 165px;
    height: 45px;
}

.ios i {
    font-size: 25px;
    margin-right: 15px;
}

.ios img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.ios p {
    color: #fff;
    font-size: 10px;
    margin: 0;
}

.ios h4 {
    color: #fff;
    font-size: 17px;
}

.icon li i {
    color: #fff;
    font-size: 20px;

}

.lastfooter {
    display: flex;
    column-gap: 10px;
}

.lastfooter h3 {
    font-size: 16px;
    color: #fff;
    margin: 0;

}

.lastfooter p {
    font-size: 12px;
    color: #fff;
    margin: 0;

}

.lastfooter .count {
    flex-basis: 50%;

}

.hr1 {
    width: 100%;
    margin: 50px 0;
    height: 0.5px;
    border: none;
    background-color: rgba(254, 254, 255, 0.2);

}