* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'CaviarDreams';
    src: url(../fonts/CaviarDreams.ttf);
    font-style: normal;
    font-weight: normal;
}

/* @font-face {
    font-family: 'CavierDreams';
    src: url(../fonts/CaviarDreams.ttf);
    font-style: normal;
    font-weight: normal;
} */

/* @font-face { 
    font-family: 'CavierDreams';
    src: url(../fonts/CaviarDreams_Italic.ttf);
    font-weight: 30px;
    font-style: normal;
} */

body {
    background-color: antiquewhite;
    font-family: 'CaviarDreams';
}

.contanier {
    width: 75%;
    height: 92vh;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 15px 35px 25px rgb(0 0 0 / 30%);
    text-align: center;


}

.data {
    width: 50%;
    height: 100%;
    padding: 40px;
    float: left;
    margin-top: 50px ;
}
.data h1 {
    color: brown;
    margin-top: 35px;
}
.socialAuth {
    margin-top: 30px;
    
}
.socialAuth a {
    width: 50px;
    height: 50px;
    border: 2px solid brown;
    border-radius: 50%;
    padding: 12px;
    display: inline-block;
    margin: 20px;
    transition: 0.5;
    color: brown;
    font-size: 20px;
    

}
.socialAuth p {
    color: gray;
    font-size: 18px;
    font-style: normal;
}
.message {
    margin-top: 20px;
}
.socialAuth a:hover {
    background-color: brown;
    color: #fff;
}
.contanier input {
    width: 60%;
    height: 37px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    outline: none;
    display: block;
    margin: 20px auto;
}
#login1 a {
    display: block;
    color: brown;
    font-weight: bold;
}
#login1 button {
  
    margin-top: 36px;
    background-color: brown;
    border: none;
    color: #fff;
    padding: 10px 24px;
    border-radius: 20px;
    font-size: 16px;
}

.image {
    background: url(../Image/background.webp);
    width: 900px;
    height: 900px;
    /* float: left; */
    background-position: center right;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 50%;
}
