*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 2px 2px 9px rgb(242, 231, 231);
    position: relative;
}
header nav ul li{
    list-style-type: none;
    display: inline-block;
    
}
header nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 20px;
    font-size: 20px;
}
header nav > ul > li > a:hover{
    background-color: black;
    color: #fff;
}
header nav ul li:hover .megamenu{
    display: block;
}
.megamenu{
    position: absolute;
    top: 62px;
    right: 60px;
    background-color: dimgray;
    width: 70%;
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
    display: none;
   
}

.megamenu li{
    position: relative;
    padding-right: 50px;      
    flex-basis: 17%; 
    /* border: 2px solid black; */
}
.megamenu li h3{
    font-size: 25px;
    padding: 20px;
}
.megamenu li a{
    display: block;
}

.megamenu li::after{
    content: '';
    position: absolute;
    top: 7%;
    right: 0;
    width: 1px;
    height: 85%;
    background-color: #fff;
}
.megamenu li:last-child::after{
    display: none;
}
@media screen and (max-width:768px) {
    header nav > ul{
        position: absolute;
        top: 0;
        right: 0;
        background-color: brown;
        width: 70%;
        height: 100vh;
    }
    header nav  ul  li{
        display: block;
    }
    header nav ul li a{
        width: 100%;
    }
    header nav ul li ul{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    .megamenu{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 40px;
        /* flex-direction: column; */
    }

}