* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    border: 2px dotted black;
    background-color: rgba(240, 240, 240, 10);
    height: 30px;
    padding-left: 150px;
}
.icons ul {
    float: left;
    align-items: center;
}
.icons ul li  {
    list-style-type: none;
    font-size: 18px;
    /* margin: 0px 5px; */
    margin-top: 4px;
    display: inline-block;
}
.icons ul li a {
    color: gray;
    padding-left: 15px;
}
.icons ul li a:hover {
    color: orangered;
}
.data ul {
    padding-left: 450px;
    display: flex;
    margin-top: 2px;
    
}
.data ul li {
    display: inline-block;
    
}
.data ul li {
    color: #777;
    padding-right: 15px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    position: relative;
    inset: 0;
    
}   
.data ul li:hover {
    color: orangered;
}
.data ul li::after{
    content: '';
    width: 1px;
    height: 15px;
    border: none;
    margin-top:3px;
    background-color: gray;
    position: absolute;
    margin-left: 10px;
}
.data ul li:last-child::after{
    content: '';
    width: 0px;
    height: 0px;
}
.data ul li a {
    color: gray;
}
.data ul li a:hover {
    color: orangered;
}

