h1 {
    color: red;
}
.content {
    width: 85%;
    height: 600px;
    border: 2px solid black;
    margin: 0 auto;
    max-width: 300px;
    min-width: 600px;
    
} 
.content img {
    width: 100%;
    height: 100%;
}

.data {
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
}

.data p {
    min-height: 250px;
    max-height: 400px;
    overflow: scroll;
}