* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 370px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    cursor: pointer;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}

.box:hover img {
    transform: scale(1.2);
}

.box .innerdata {
    position: absolute;
    inset: 0;
    background-color: rgba(0 0 0 / 0.4);
    opacity: 0;
}

.box:hover .innerdata {
    opacity: 1;
}

.innerdata button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.innerdata button:hover {
    background-color: rgba(255 255 255 / 0.3);
}

/* .box1 {
    width: 370px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-top: 20px;
}

.box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
    transition: 0.2s;
}

.box1:hover img {
    transform: scale(1.2);
}

.box1 .inner-data1 {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
}

.box1:hover .inner-data1 {
    opacity: 1;
}

.inner-data1 button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.inner-data1 button:hover {
    background-color: rgba(255 255 255 / 0.3);
} */