*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: sans-serif;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px ;
    box-shadow: 2px 2px 10px rgba(0 0 0 / 0.2)
}
header a{
    text-decoration: none;
    display: inline-block;
    padding: 24px;
}
header nav ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}
header nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 24px;
}
header nav ul li a:hover  {
    background-color: black;
    color: #fff;
}
header nav ul li ul{
    position: absolute;
    top: 75px;
    left: 0;
    background-color:dimgray;
    width: 162px;
    display: none;
}
header nav ul li ul li a ,header nav ul li ul li {
    display: block;
    position: relative;

}
header nav ul li:hover ul{
    display: inline-block;
}
header nav ul li ul li ul  {
    position: absolute;
    top: 0;
    left: 162px;
    display: none !important;
}
header nav ul li ul li:hover ul  {
    display: inline-block !important;
}
@media screen and (max-width:768px) {
    nav ul {
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        background-color: brown;
    }
    header nav ul li{
        position: relative;
        display: block;
        
    }
    header nav ul li ul li {
        position: absolute;
        top: 0;
        left: 162px;
    }
    header nav ul li ul li{
        position: relative;
    }
    header nav ul li ul li ul {
        position: absolute;
        top: 0;
        left: 162px;
    }


}