* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}
a {
    text-decoration: none;
    color: #000;
}
header ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;   
    position: relative;
    /* width: 100%; */
}
header nav ul li a {
    /* list-style-type: none; */
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 20px;
    
    font-size: 16px; 
}
header nav ul li a:hover {
    background-color: black;
    color: #fff;

}
header nav ul li ul {
    position: absolute;
    top: 59px;
    left: 0px;
    background-color: gray;
    width: 150px;
    display: none;
}
header nav ul li ul li {
    display: inline-block;   
    position: relative;
}
header nav ul li ul li:hover, header nav ul li ul li a:hover {
        display: block;
}
header nav ul li:hover ul {
    display: inline-block;
}
header nav ul li ul li ul {
    position: absolute;
    top: 0;
    left: 150px;
    display: none !important;
}
header nav ul li ul li:hover ul {
    display: inline-block !important;
}
header nav ul > i header nav i {
    display: none !important;
}
header nav ul li:hover a i {
    transform: rotate(90deg);
}

@media screen and (max-width:720px){
    nav > ul {
        position: absolute;
        top: 0;
        right: -70%;
        background-color: gray;
        width: 70%;
        height: 100vh;
        transition: all 1s;
    }
    
    nav ul li {
        display: block;   
    }
    header nav ul li ul, header nav ul li ul li ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    header nav ul li ul li a{
        padding-left: 40px;
        display: block;
    }
    header nav ul li ul li ul li a {
        padding-left: 60px;
    }

    header nav ul li ul li ul {

        background-color: rgb(136, 80, 80)
    }
    header ul li a:hover {
        width: 100%;
    }

    header nav ul li {
        width: 100%;
    }

    nav ul i {
        color: #fff;
        padding: 20px;
        font-size: 20px;
        text-align: right;
        width: 100%;
        
        /* display: inline-block !important; */
    }
    .showHide {
        right: 0%;
    }
   
    header i {
        padding-left: 160px;
    }
    header nav ul li:hover a i {
        transform: rotate(90deg);
    }
    
}