* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contener {
    width: 85%;
    height: 700px;

    margin: 0 auto;
}
.product {
    width: 30%;
    height: 250px;
    float: left;
    margin: 10px 15px 10px 15px;
   
}
.product img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
}

.logo {
    font-family: 'Roboto';
    width: 85%;
    height: 20px;
    font-size: 35px;
    padding: 25px;
    float: left;
    
}
.logo1 {
    width: 15%;
    height: 20px;


}

.logo img {
    width: 100%;
    height: 70%;
    float: right;
}
.data {
    font-family:'Roboto';
    font-size: 15px;
}

.fa-heart {
    float: right;
}

.contener button{
    float: right;
    margin-top: 50px;
    margin-right: 50%;
    background-color: darkgray;
    font-size: 20px;
    font-style: italic;
    border-radius: 15px;
    padding: 10px;
}