*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 2px 2px 8px rgba(0 0 0 /0.3);
}
header a {
    text-decoration: none;
    color: black;
}
header nav ul li{
    list-style-type: none;
    display: inline-block;
    position: relative;
}
header nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    padding: 20px;
   
}
header nav ul li a:hover {
    background-color: #000;
    color: #fff;
}
header nav ul li ul{
    position: absolute;
    top: 60px;
    left: 0;
    background-color: dimgray;
    width: 155.5px;
    display: none;
    
}
header nav ul li:hover ul{
    display: inline-block;
}
header nav ul li ul li a{
    display: inline-block;
    padding: 20px;
   
}
header nav ul li a i{
    transition: all 0.5s;
}
header nav ul li ul li , header nav ul li ul li a{
    display: block;
    position: relative;
}
.fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
    margin-left: 270px;
  
}
header nav ul li ul li ul{
    position: absolute;
    top: 0;
    left: 155.5px;
    display: none !important;
}
header nav ul li ul li:hover ul{
    display: inline-block !important;
}
header nav > i , header nav ul > i{
    display: none !important;

}
nav > i{
    padding: 20px 0;
    font-size: 20px;
}
header nav ul li:hover a i{
    transform: rotate(90deg);
}
header nav ul li ul li:hover a i{
    transform: rotateY(45deg);
}
header nav li:hover > a, li a:active {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    width: 100%;
}
header > i {
    display: none !important;

}

@media screen and (max-width:768px) {
    header nav > ul{
        position: absolute;
        /* display: block; */
        width: 70%;
        top: 0;
        right: -70%;
        background-color: brown;
        height: 100vh;
        transition: all 1s;
    }
    nav ul li{
        display: block;
        width: 100%;
    }
    nav ul li a{
        display: block;
        width: 100%;
    }
    header nav ul li ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
       
    }
    header nav ul li ul li ul{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    header nav ul li ul li a {
         padding-left: 60px;
    }
    header nav ul li ul li ul li a{
        padding-left: 120px;
    }
    header nav ul > i{
        text-align: right;
        width: 100%;
        padding: 15px 20px 10px 10px;
        font-size: 24px;
        display: inline-block !important ;
    }
    header > i {
        display: inline-block !important;
    }
    header nav > i {
        display: inline-block !important ;
    }
    .showHide{
        right: 0;
    }

}