* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .container {
    max-width: 1200px;
    margin: 0 auto;
}
h2 {
    text-align: center;
}
.box {
    width: 250px;
    height: 400px;
    background-color: red;
    margin: 0 auto;
    perspective: 1000px;
}
.box img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transition: 1s;
}
.scale img:hover {
    transform: scale(1.2);
}
.scaleX img:hover {
    transform: scaleX(1.2);
}
.scaleY img:hover {
    transform: scaleY(1.2);
}
.Translate img:hover {
    transform: translate(10px, 20px);
}
.TranslateX img:hover {
    transform: translateX(10px);
}
.TranslateY img:hover {
    transform: translateY(10px);
}
.skew img:hover {
    transform: skew(2+-0deg, 30deg);
}

.skewX img:hover {
    transform: skewX(20deg);
}

.skewY img:hover {
    transform: skewY(20deg);
}
.roted img:hover {
    transform: rotate(360deg);
}
.rotedX img:hover {
    transform: rotateX(30deg);
}
.rotedY img:hover {
    transform: rotateY(30deg);
} */
.box {
    width: 380px;
    height: 280px;
    position: relative;
    overflow: hidden;
    margin: 15px auto;
    cursor: pointer;
}
.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 1s;
    
}
.box:hover img {
    transform:  scale(1.2);
  
}
.inner-data {
   
    position: absolute;
    opacity: 0;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.box:hover .inner-data {
    opacity: 1;
   
}

.inner-data button {
    /* font-size: 16px;
    background-color: transparent;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    border: 2px solid white;
    */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid rgba(255, 255, 255, 0.5); */
    font-size: 18px;
   
    border: 2px solid black;
    height: 30px;

}
.inner-data:hover button {
    cursor: pointer;
    background-color: transparent;
}
