* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #020202;
    --secondary-color: #FFFFFF;
    --bg-color: #C4C4C4;
}
html {
    /* 1 rem :16px;
    1 rem :10px;
    10px/16px = 0.625; * 100 = 62.5% */
    font-size: 62.5%;
}
body {
    font-family: 'Poppins';
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
.container {
    max-width: 141rem;
    margin: 0 auto;
    padding: 0 2rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
/*********header**********/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    z-index: 9;
}
header .row {
    justify-content: space-between;
    /* background-color: var(--bg-color); */
    align-items: center;
    padding: 1rem 0;
}
header .row nav {
    margin-left: auto;
}
header .row nav ul {
    list-style-type: none;
}
header .row nav ul li {
    display: inline-block;
    position: relative;
}
header .row nav ul li a {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 3.3rem;
}
header .row>a i {
    font-size: 1.8rem;
    color: var(--secondary-color);
    padding-left: 3.3rem;
}
header .row nav ul li a:hover {
    background-color: #9B9B9B;
}
.dark-header {
    background-color: #020202;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
header .row nav ul li ul {
    display: none;
    position: absolute;
    top: 5.8rem;
    left: 0;
    width: 29rem;
    background-color: rgba(0 0 0 / 0.4)
}
header .row nav ul li ul li {
    display: inline-block;
    width: 100%;
    position: relative;

}
header .row nav ul li ul li a {
    display: inline-block;
    padding: 3.3rem;
    width: 100%;
}
header .row nav ul li:hover ul {
    display: inline-block
}
header .row nav ul li ul li ul {
    position: absolute;
    top: 0;
    left: 29rem;
    display: none !important;
}
header .row nav ul li ul li:hover ul {
    display: inline-block !important;
}
header .row nav>i {
    color: var(--secondary-color);
    font-size: 1.8rem;
    display: none !important;
}
header .row nav ul>i {
    display: none !important;
}
/***********************/

/**********Hero Section************/
#hero {
    background: url(../images/banner.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}
#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
#hero .hero-data {
    position: absolute;
    top: 27%;
}
.hero-data h1 {
    font-weight: 700;
    font-size: 9rem;
    line-height: 11rem;
    color: var(--secondary-color);
}
.hero-data p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #CFCFCF;
    margin: 3.7rem 0 1.1rem 0;
}
.hero-data .search-form {
    width: 73.6rem;
    height: 7.8rem;
    background: #FFFFFF;
    border: 1px solid #CBCACA;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
    border-radius: 7.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.9rem 0 2.3rem;
}
.search-form select {
    border: none;
    color: #9B9B9B;
    font-weight: 500;
    font-size: 1.8rem;
    background-color: var(--secondary-color);
}
.search-form .explore {
    background-color: #000;
    color: var(--secondary-color);
    border-radius: 38rem;
    padding: 1.5rem 2rem;
    font-weight: 500;
    font-size: 1.8rem;
}
.hero-data span {
    color: #ECECEC;
    margin-top: 3.6rem;
}
/****************************************/

/*************Explore Section**********/
.main-title h2 {
    padding-top: 17.8rem;
    font-weight: 600;
    font-size: 6rem;
    line-height: 7rem;
    text-align: center;
    color: #020202;
    margin-bottom: 3rem;
}
.main-title p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    text-align: center;
    color: #878787;
    margin-bottom: 8.4rem;
}
.explore-slider .swiper-slide {
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / 0.25);
    border-radius: 1rem;
    transition: all 1s;
}
.explore-slider .main-title{
    margin: 4rem;
}
.explore-slider .swiper-wrapper {
    padding: 1rem 0 17.8rem 0;
    margin-top: 2rem;
}
.explore-slider .swiper-slide .card-img img {
    border-radius: 1rem;
    width: 44.4rem;
    height: 36rem;
    object-fit: cover;
    object-position: center center;
}
.explore-slider .card-data {
    padding: 3.4rem 0 2.6rem 1.4rem;
    position: relative;
    display: none;
    transition: all 1s;
}
.explore-slider .card-data .explore-circle {
    position: absolute;
    top: -2rem;
    right: 3rem;
    width: 8rem;
    height: 7.6rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.14);
    border-radius: 50%;
    text-align: center;
}
.explore-slider .card-data .explore-circle span {
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 11rem;
    color: var(--primary-color);
}
.explore-slider .card-data h4 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: var(--primary-color); 
}   
.explore-slider .card-data p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #555555; 
}
#explore .container {
    position: relative;
}
#explore .container .prev,
#explore .container .next {
    z-index: 8;
    position: absolute;
    top: 37rem;
    width: 7rem;
    height: 6.6rem;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 1rem;
    font-size: 3rem;
    text-align: center;
    line-height: 6.5rem;
}
#explore .container .prev {
    left: 7rem;
}
#explore .container .next {
    right: 7rem;
}
.explore-slider .swiper-slide:hover {
    transform: translateY(-1rem);
    border-radius: 1rem; 
    z-index: 7;
}
.explore-slider .swiper-slide:hover .card-data {
    display: inline-block;
    border:1px solid black ;
    border: none;
    border-radius: 0 0 1rem 1rem;
}
.explore-slider .swiper-slide:hover .card-img img {
    border-radius: 1rem 1rem 0 0;
    height: 31.6rem;
}
/*************************************/

/***********why selector*************/
#why-select {
    background: url(../images/why.jpg);
    background-size: 100% 54.2rem;
    background-position: center center;
    background-repeat: no-repeat;
}

#why-select  .main-title h2 {
    color: var(--secondary-color);
    margin-top: 2.6rem;
}

#why-select .main-title p {
    color: var(--secondary-color);
    padding-top: 0.6rem;
}

.why-slider .swiper-slide {
    width: 33rem;
    height: 43rem;
    background: #FFFFFF;
    box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    padding: 4.5rem 2rem 7rem 2rem;
    /* margin-top: 5rem; */
}
.why-slider .why-img{
    width: 9.5rem;
    height: 9.7rem;
    background-color: #000;
}
.why-slider .why-img img{
    object-position: center center;
    object-fit: cover;

}

.why-slider .why-data {}

.why-slider .why-data h4 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #000000;
    margin-top: 3.3rem;
}

.why-slider .why-data p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #858585;
    margin-top: 1rem;
}

.why-slider .why-data  a {
    margin-top: 3.8rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    
}
.why-slider .why-data  a i {
    margin-top: 3.8rem;
}
#why-select  {
    position: relative;
}
#why-select  .prev,
#why-select  .next {
    z-index: 8;
    position: absolute;
    top: 33rem;
    width: 7rem;
    height: 6.6rem;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
    line-height: 6.5rem;
   
}

#why-select  .prev {
    left: 7rem;
    color: #737373;
}

#why-select  .next {
    right: 7rem;
    color: #737373;
}


/*************************************/
@media screen and (max-width:1250px) {
    header .row nav ul li a {
        padding: 1.3rem;
    }
    header .logo {
        width: 18rem;
    }
    header .row>a i {
        padding-left: 1.3rem;
    }
}
@media screen and (max-width:992px) {
    header nav>ul {
        position: absolute;
        top: 1rem;
        right: -35%;
        width: 35%;
        height: 100vh;
        transition: all 0.5s;
        background-color: grey;
    }
    header .row nav ul li {
        display: block;
        width: 100%;

    }
    header .row nav ul li a {
        display: block;
        width: 100%;
    }
    header .row nav ul li ul {
        position: relative;
        top: 0;
        left: 0;
    }
    header nav ul li ul li a {
        padding-left: 6rem;
    }
    header.row nav ul li ul li ul {
        position: relative;
        top: 0;
        left: 0;
    }
    header .row .logo {
        order: 0;
    }
    header .row nav {
        order: 2;
    }
    header .row .search {
        order: 1;
        position: absolute;
        right: 40%;
    }
    header .row nav ul>i {
        color: #ECECEC;
        margin-top: 2rem;
        font-size: 2.5rem;
        text-align: right;
        display: inline-block !important;
        width: 100%;
        padding-right: 1.8rem;
    }
    header .row nav>i {
        display: inline-block !important;
    }
    .showHide {
        right: 0%;
    }
}