* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #020202;
    --secondary-color: #FFFFFF;
    --bg-color: #C4C4C4;
}

html {
    /* 1 rem :16px;
    1 rem :10px;
    10px/16px = 0.625; * 100 = 62.5% */
    font-size: 62.5%;

}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.containor{
    max-width: 141rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*********header**********/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    z-index: 9;
}

header .row {
    justify-content: space-between;
    /* background-color: var(--bg-color); */
    align-items: center;
    padding: 2rem 0;
}

header .row nav {
    margin-left: auto;
}

header .row nav ul {
    list-style-type: none;
   
}

header .row nav ul li {
    display: inline-block;
    position: relative;
}

header .row nav ul li a {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 3.3rem;
}

header .row > a i {
    font-size: 1.8rem;
    color: var(--secondary-color);
    padding-left: 3.3rem;
}
header .row nav ul li a:hover {
    background-color: #9B9B9B;
}

.dark-header {
    background-color: #020202;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
header .row nav ul li ul{
    display: none;
    position: absolute;
    top: 5.8rem;
    left: 0;
    width: 29rem;
    background-color:rgba(0 0 0 / 0.4)

}
header .row nav ul li ul li{
    display: inline-block;
    width: 100%;
    position: relative;

}
header .row nav ul li ul li a{
    display: inline-block;
    padding: 3.3rem;
    width: 100%;
}
header .row nav ul li:hover ul {
    display: inline-block
}
header .row nav ul li ul li ul{
    position: absolute;
    top: 0;
    left: 29rem;
    display: none !important;
}
header .row nav ul li ul li:hover ul{
    display: inline-block !important;
}
header .row nav > i{
    color: var(--secondary-color);
    font-size: 1.8rem;
    display: none !important;
}
header .row nav ul > i{
    display: none !important;
}


/***********************/

/**********Hero Section************/

#hero {
    background: url(../images/banner.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}

#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#hero .hero-data {
    position: absolute;
    top:27%;
}

.hero-data h1 {
    font-weight: 700;
    font-size: 9rem;
    line-height: 11rem;
    color: var(--secondary-color);
}

.hero-data p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #CFCFCF;
    margin: 3.7rem 0 1.1rem 0;
}

.hero-data .search-form {
    width:60rem;
    height: 7rem;
    background: #FFFFFF;
    border: 1px solid #CBCACA;
    box-shadow: 0px 2rem 3.5rem rgba(0, 0, 0, 0.3);
    border-radius: 7.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.9rem 0 2.3rem;
}

.search-form select {
    border: none;
    color: #9B9B9B;
    font-weight: 500;
    font-size: 1.8rem;
    background-color: var(--secondary-color);
}

.search-form .explore {
    background-color: #000;
    color: var(--secondary-color);
    border-radius: 38rem;
    padding: 1.5rem 2rem;
    font-weight: 500;
    font-size: 1.8rem;
}

.hero-data span {
    color: #ECECEC;
    margin-top: 3.6rem;
}


/****************************************/





@media screen and (max-width:1250px) {
    header .row nav ul li  a {
        padding: 1.3rem;
    }

    header .logo {
        width: 18rem;
    }

    header .row > a i {
        padding-left: 1.3rem;
    }
}

@media screen and (max-width:992px) {
    header .row nav > ul{
        position: absolute;
        top: 1rem;
        right: -30%;
        width: 30%;
        height: 100vh;
    }
    header .row nav ul li{
        display: block;
        width: 100%;
        
    }
    header .row nav ul li a{
        display: block;
        width: 100%;
    }
    header .row nav ul li ul{
        position: relative;
        top: 0;
        left: 0;
    }
    header nav ul li ul li a {
        padding-left: 6rem;
    }
    header.row nav ul li ul li ul{
        position: relative;
        top: 0;
        left: 0;
    }
    
    header .row .logo{
        order: 0;
    }
    header .row nav  {
        order: 2;
    }
    header .row .search {
        order: 1;
        position: absolute;
        right: 40%;
    }
    header .row  nav ul > i{
        color: #ECECEC;
        margin-top: 2rem;
        font-size: 2.5rem;
        text-align: right;
        display: inline-block !important;
        width: 100%;
    }
    header .row nav > i{
        display: inline-block !important;
    }
    .showHide{
        right: 0;
    }

}